/****** Général *********/

*{ margin:0; padding:0; }


body
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
h7 {
	font-size: 20px;
	font-weight: bold;
	font-style:italic;
	}	
	
	
h6 {
	font-size: 13px;
	font-weight: bold;
	font-style:italic;
	}

h5 {
	font-size: 11px;
	}

h4 {
	font-size: 13px;
	font-weight: bold;
	}

h3 {
	font-size: 17px;
	font-weight: bold;
	margin-top: 0px;
	}

h2 	{
	font-size: 15px;
	color: ##fffff0;
	font-weight: bold;
	}

h1 {
	font-size: 16px;
	color: #484747;
	font-weight: bold;
	}

a,a:link,a:visited {
	text-transform: none;
	color: #fff;
	text-decoration: none;
	}

a:hover {
	text-transform: none;
	color: #484747;
	text-decoration: underline;
	}
hr {
color: 	#e13501;
}
	
.spip_logos
{
	float: right;
}

.imgs
{
	float: left;
}
/************ Blocs Principaux ********************/

#page
{
	width: 1000px;
	margin: auto;
	text-align: left;/* IE hack Part 2 */
	background: #D2691E;
	background: transparent url(images/darxo.jpg) repeat scroll center top;
}	

#entete 
{
	height:120px;
	background: #AAA;
	background: transparent url(images/darxo.jpg) no-repeat scroll center top;
}

#colonne_pleine 
{
	margin-top:20px;
	width: 950px;
}

#colonne_gauche 
{
	margin-top:20px;
	width: 650px;
	float:left;
}
#colonne_gauche p
{
margin:0px 0px 0px 20px;
}
#colonne_droite 
{
	width: 289px;
	float:right;
}

#footer 
{
	height:55px;
	clear:both;
	line-height:30px;
	text-align:center;
}


/******************** Sous Contenu ***************************/

/******************** ENTETE ***************************/

#entete a 
{
	color: #888888; 
}

#entete a:hover 
{ 
	text-decoration:underline;
}
	
#entete h1
{
	padding-left:20px;
	padding-top:10px;
	color: #fff;
	font-size: 25px;
}

#entete h2
{
	padding-left:20px;
	color: #555555;
	font-size: 90%;
}

#entete h7
{
	padding-left:400px;
	color: #fff;
	margin:20px 50px 20px 20px;
}
/******************** MENU ***************************/
#menu 
{
	width:1000px; 
	height:30px;
	font-size:0.85em;
	position:relative;
	z-index:100;
	border-bottom:4px solid #e13501;
}

#menu ul 
{
	padding-left:20px;
	list-style-type:none;
}

#menu li 
{
	float:left;
	width:112px;
	margin-left:5px;
}



#menu a, #menu a:visited 
{
	display:block;
	font-size:11px;
	font-weight: bold ;
	text-decoration:none; 
	color: #fff; 
	width:110px; 
	height:30px;
	background-image:url(images/corner.gif);
	text-align:center;
	line-height:29px;
}

#menu a:hover, #menu ul ul a:hover
{
color:#000;
text-decoration:underline;
font-weight: bold ;
background-image:url(images/cornerb.gif);
}


/*Hack IE5 */
* html #menu a, * html #menu a:visited 
{
	width:100px;
	\width:112px;
}

#menu span
{
	float:left;
	width:112px;
	margin-left:5px;
}
/******************** objectifs ***************************/	

#objectifs
{
		border-left: #e13501 2px solid;
		border-top: #e13501 2px solid;		
		margin:20px 0px 20px 20px;
		padding:20px;
		-moz-border-radius:10px 10px 10px 10px;
}
#objectifs p
{
margin:0px 0px 0px 10px;
}


#objectifs h3 {
	font-size: 17px;
	font-weight: bold;
	margin-top: 0px;
	}

	#objectifs h4 {
	float:right;
	font-size: 12px;
	font-weight: bold;
	margin-top: 0px;
	}

#objectifs img 
{
		float:right;
		margin-top:-10px;
}
#objectifs ol 
{
		margin:20px 10px 10px 30px;
}

#objectifs li
{
		margin:10px 10px 10px 30px;
	
}

a.des 
{
		color:#fff;
		font-size:1.15em;
}

a.des:hover 
{
		color:#fff;
		text-decoration:underline;
}

/******************** activité ***************************/
	
#activite 
{
	margin:0px 0px 0px 20px;
	clear: both;
}

#activite_1 
{
		float: left;
		width: 45%;
		border-left: #e13501 2px solid;
		border-top: #e13501 2px solid;
		padding: 20px 10px 10px 10px;
		margin: 20px 0px 20px 0px;
		-moz-border-radius:10px 10px 10px 10px;
}
	
#activite_2 
{
		float: right;
		width:45%;
		border-left: #e13501 2px solid;
		border-top: #e13501 2px solid;
		padding: 20px 10px 10px 10px;
		margin: 20px 0px 20px 0px;
		-moz-border-radius:10px 10px 10px 10px;
}

		
#activite_1 h3
{
		padding: 0px;
		float: left;
}
	
#activite_1 h2
{
		color:#fff;
}

#activite_2 h2
{
		color:#fff;
}

#activite_2 h3
	{
		padding: 0px;
		float: left;
	}
#activite_1  ul 
{
		margin:10px 10px 10px 20px;
}

#activite_1  li
{
		margin:10px 10px 10px 20px;
	
}
#activite_2  ul 
{
		margin:10px 10px 10px 20px;
}

#activite_2  li
{
		margin:10px 10px 10px 20px;
	
}
/******************** ARTICLES ET BREVES ***************************/

.adhesion 
{
	width:97%;
	margin-left:20px;
	padding-top:15px;
	clear: both;
}

.adhesion h6 
{
	color:#fff;
	border-bottom:1px dotted #e13501;
}


/*Premier bloc */

.adhesion_1 
{
	background-color: #D9FFD8;
	line-height: 1em;
	margin:10px 0px 10px 0px;
	padding:20px;
	width:96,5%;
	-moz-border-radius:10px 10px 10px 10px;
}

.adhesion_1 img 
{
	float:left;
	margin:0px 5px 0px 5px;		
}

.adhesion_1 span 
{
	float:right;
}

.adhesion_1 p 
{
	margin:10px 0px 10px 20px;
}
		
.adhesion_1 h5 
{
	font-size:0.9em;
	margin-bottom:2px;			
}

.adhesion_1 em 
{
	margin-left:20px;
	font-size:0.9em;			
}

.adhesion_1 > .article_texte 
{
	border:none;
}


/* Liste suite */

.adhesion_all 
{
	line-height: 1em;
	margin:-10px 0px 10px 0px;
	padding:10px 10px 10px 34px;
	width:80%;
}

.article_texte 
{
	margin:0px 0px 10px 0px;
	border-left:solid 3px #249526;
}

.adhesion_all img 
{
	float:left;
	margin:0px 5px 0px 15px;
}

.adhesion_all h5 
{
	font-size:0.9em;
	margin-bottom:2px;			
}

.adhesion_all em 
{
	margin-left:30px;			
	font-size:0.9em;
}


/******************** Sous Contenu 2EME COLONNE ***************************/


/* Titres */

#titre_droite
{
	margin:30px 0px -20px 0px;
}

#titre_droite h6 
{
	background-image:url(images/tit_corner.gif);
	color:#FFFFFF;
	witdh:289px;
	height:26px;
}

#titre_droite span 
{
	padding-left:10px;
	line-height:2em;
}

/* Recherche */

#recherche 
{
	height:59px;
	width:289px;
	text-align:center;
	line-height:1em;
	color:#249526;
	background-image:url(images/recherche.png);
}

#recherche span 
{
	padding-right:10px;
}


/* Recherche */

#sommaire 
{
	background-color:#f8f8f8;
	margin:20px 0px 20px 0px;
	padding:20px;
	-moz-border-radius: 1em;
}
	
/* Web */
	
#coordonnees 
{
	background-color:#ff9300;
	padding:10px;
	margin:20px 0px 20px 0px;
	-moz-border-radius: 1em;
}
		
#coordonnees h5 {
	padding:15px 10px 0px 10px;
	text-align:right;
	}
	
#coordonnees h4 {
	padding:0px 10px 0px 10px;
	text-align:right;
	}
#coordonnees p {
	line-height: 1.5em;
	padding:0px 10px 0px 10px;
}

#coordonnees em {
	line-height:25%;
	padding:0px 10px 20px 10px;
	font-size:0.9em;
}
		

/* prog_soiree */

#prog_soiree 
{
	background-color:#ff9300;
	padding:15px;
	margin:20px 0px 20px 0px;
	-moz-border-radius: 1em;
}

#prog_soiree h5 
{
	padding:10px 10px 5px 10px;
}

#prog_soiree em
{
	line-height:25%;
	padding:0px 10px 20px 10px;
	font-size:0.9em;
}

#prog_soiree p 
{
	line-height: 1.5em;
	padding:5px 10px 0px 10px;
}



/******************** Sous Contenu FOOTER ***************************/

	
#footer a 
{ 
	color: #e13501; 
}

#footer a:hover 
{ 
	text-decoration:underline;
}

#footer h2 
{
	-moz-border-radius:15px 15px 15px 15px;
	font-size: 90%;
	color: #e13501; 
	background-color: #ff9300;
	padding: 0px 10px 0px 10px;
}

/*******#footer img 
{
	padding:10px 5px 5px 5px;
}
*****/

.spacer 
{
  clear: both;
}
