html,
body,
.bg {
  height: 100%;
}

.bg {
  display: block;
  overflow: auto;
}

body {
   background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.32) 36%, rgba(0,0,0,0) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(36%,rgba(0,0,0,0.32)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.32) 36%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.32) 36%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.32) 36%,rgba(0,0,0,0) 100%); /* IE10+ */
   background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.32) 36%,rgba(0,0,0,0) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

   font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.bg {
  background-image: url("../images/bg/redDiceLightBlur.png");
  background-repeat: repeat-x;
}

.justified,
p.justified {
  text-align: justify;
}

.panel-default>.panel-heading,
.navbar-default {
  background-image: none;
  /* background-color: #dff2ae; */

  background: rgb(168,168,168); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(168,168,168,1) 1%, rgba(204,204,204,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(168,168,168,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(168,168,168,1) 1%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(168,168,168,1) 1%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(168,168,168,1) 1%,rgba(204,204,204,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(168,168,168,1) 1%,rgba(204,204,204,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

  border-color: #a8a8a8;

  font-weight: bolder;
  font-size: 18px;
}

.panel {
  background-color: transparent;
  background-color: rgba(255,255,255,.3);
  border-color: #a8a8a8;
}

.panel-default>.panel-body {
  font-size: 15px;
}

.panel-title {
  font-weight: bolder;
}

.navbar-default .navbar-nav>.active>a {
  background: linear-gradient(to bottom, rgba(200,200,200,1) 1%,rgba(240,240,240,1) 100%); /* W3C */
}

.navbar-default .navbar-nav>li>a:hover {
  background: linear-gradient(to bottom, rgba(180,180,180,1) 1%,rgba(220,220,220,1) 100%); /* W3C */
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>li>a,
h1 {
  color: #333;
}

.navbar-header>img,
.navbar-header {
  padding: 2px;
  padding-right: 10px;
}

.navbar-header>img {
  height: 45px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  font-variant: small-caps;
  font-family: "ChalkboardSE-Bold", cursive, sans-serif;
}

a {
  font-weight: bold;
  color: #2079C8;
}

.page-header {
  /* border-bottom-color: #424639; */
}

.alert-info {
  overflow: auto;
  font-size: 18px;
  font-weight: 900;
  padding-left: 45px;
  border-color: #a8a8a8;
  color: rgb(200,200,200);
  background: rgb(64,85,160); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(64,85,160,1) 0%, rgba(93,126,234,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,85,160,1)), color-stop(100%,rgba(93,126,234,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(64,85,160,1) 0%,rgba(93,126,234,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(64,85,160,1) 0%,rgba(93,126,234,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(64,85,160,1) 0%,rgba(93,126,234,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(64,85,160,1) 0%,rgba(93,126,234,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4055a0', endColorstr='#5d7eea',GradientType=0 ); /* IE6-9 */
}

.alert-info a {
  color: rgb(230, 230, 230);
  text-decoration: underline;
}

.footer {
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: rgba(255,255,255,.3);
}

.pad-right {
  padding-right: 30px;
}

p.size16 {
  font-size: 16px;
  font-weight: 400;
}

.calendar-jeux {
  width:50%;
  margin-left: 200px;
}

li.rgt-li {
  padding-top: 15px;
}

table.tarif {
  margin-left:auto;
  margin-right:auto;
}
table.tarif td,th {
  padding: 5px;
}

img.darx-img {
  padding-left: 5px;
  padding-right: 5px;
}

p.darx-img {
  text-align: center;
}

img.affiche-ludidarx {
  padding: 5px;
}

img.logo-banner {
  padding: 5px;
  height: 170px;
}

img.thumb {
  height: 200px;
}

.center {
  text-align: center;
}

.right {
  float: right;
}
