<!-- ############################################### FOOTER ################################################### -->

<div class="footer">
  <div class="row">
    <div class="col-sm-2 center">
      <a target="_blank" href="http://www.cri01.org/" title="notre hébergeur virtuel" class="des"><img src="images/logo/logocritp.gif" alt="Le CRI" style="height:30px"/> </a>
    </div>
    <div class="col-sm-2 center">
      <a href="#" onclick='showPage("Home", this)'>Accueil</a>
    </div>
    <div class="col-sm-2 center">
      <a href="#" onclick='showPage("Contacts", this)'>Nous contacter</a>
    </div>
    <div class="col-sm-2 center">
      <a href="#" onclick='showPage("Reglement", this)'>Règlement Intérieur</a>
    </div>
    <div class="col-sm-2 center">
      <a href="#" onclick='showPage("Liens", this)'>Liens partenaires</a>
    </div>
    <div class="col-sm-2 center">
      <a target="_blank" href="http://www.mjcgex.fr/" title="notre hébergeur dans le monde réel"><img src="images/logo/logomjctp.jpg" alt="MJC Gex" style="heigth=30px"/> </a>
    </div>
  </div>
</div>
