<!-- ############################################### FOOTER ################################################### -->

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a target="_blank" href="http://www.cri01.org/" title="notre hébergeur virtuel" class="des"><img src="images/logo/logocritp.gif" alt="Le CRI" style="height:30px"/> </a>
      </div>
      <!-- <div class="col&#45;md&#45;10"> -->
      <!--   <!&#45;&#45; <p class="text&#38;#45;center"> &#45;&#45;> -->
      <!--   <table class="table"> -->
      <!--     <tr> -->
      <!--       <td> -->
      <!--         <a href="index.html">Accueil</a> -->
      <!--       </td> -->
      <!--       <td> -->
      <!--         <a href="contacts.html">Nous contacter</a> -->
      <!--       </td> -->
      <!--       <td> -->
      <!--         <a href="rgtint.html">Règlement Intérieur</a> -->
      <!--       </td> -->
      <!--       <td> -->
      <!--         <a href="liendarx.html">Liens Partenaires</a> -->
      <!--       </td> -->
      <!--     </tr> -->
      <!--   </table> -->
      <!--   <!&#45;&#45; </p> &#45;&#45;> -->
      <!-- </div> -->
      <div class="col-md-2">
        <a href="index.html">Accueil</a>
      </div>
      <div class="col-md-2">
        <a href="contacts.html">Nous contacter</a>
      </div>
      <div class="col-md-2">
        <a href="rgtint.html">Règlement Intérieur</a>
      </div>
      <div class="col-md-2">
        <a href="liendarx.html">Liens Partenaires</a>
      </div>
      <div class="col-md-2">
        <a class="pull-right" target="_blank" href="http://www.mjcgex.fr/" title="notre hébergeur dans le monde réel"><img src="images/logo/logomjctp.jpg" alt="MJC Gex" style="heigth=30px"/> </a>
      </div>
    </div>
  </div>
</div>
