<!-- ############################################## ENTETE ################################################## -->

<div class="page-header">
  <img src="logodarxp.jpg" alt="Logo Darx" class="img-rounded"
  style="float:right; height:60px"/>
  <h1>Les DARX Fantastiques</h1>

</div>

<!-- ############################################## MENU ################################################## -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Darx Fantastiques</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="contacts.html">Contacts</a></li>
        <li><a href="magicdarx.html">Magic</a></li>
        <li><a href="ventedarx.html">Ventes</a></li>
        <li><a href="liendarx.html">Liens</a></li>
        <li><a href="ludidarx.html">LudiDARX</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

